nav{
    padding: 1%;
}

nav ul{
    text-align: right;
}

.heroImg{
    height:600px;
    padding:25px;
    margin:0 auto;
    justify-content: center;
}

footer{
    background-color: rgb(45,45,45);
    padding: 1%;
}

ul{
    display: flex;
    justify-content: space-around;
    margin-left:50%
}

p{
   font-family: helvetica, sans-serif;
   text-align: center;
}

ul li{
    display: inline-block;
    color: white;
    font-family: helvetica, sans-serif;
}

#navWrapper{
    background-color: rgb(45, 45, 45);
}

.heading{
    display: flex;
    font-family: helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

#subHead{
    display: flex;
    justify-content: center;
}

#resume{
    display: flex;
    justify-content: center;
}